<%= form_with(model: hotel, local: true) do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.number_field :city_id, id: :hotel_city_id %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_area :nombre, id: :hotel_nombre %>
  </div>

  <div class="field">
    <%= form.label :reputation %>
    <%= form.text_field :reputation, id: :hotel_reputation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
