<div class="border-show-div">
<div class="container">

  
    <% if @survey.questions.any? %>
      <%= form_tag answers_path, method: :post do %>
         <%= hidden_field_tag 'user_id', current_user.id %>
         <%= hidden_field_tag 'survey_id', @survey.id %>
        <%= render @survey.questions %>

        <%= submit_tag 'Submit Survey', class: "btn btn-info btn-md btn-block"  %>
        <%= link_to "Resultados", survey_check_result_path(@survey.id)  %>
 
        <%= link_to "Delete", survey_path(@survey), :method => :delete,
                                              data: {confirm: "Are you sure you want to delete?"} %>
        
      <% end %>
    <% end %>
</div>
</div>
