<div class="container">
  <h1>Admin Dashboard</h1>
  <ul>
    <li><%= link_to 'Posts', posts_path %></li>
    <li><%= link_to 'Hotels', hotels_manage_path %></li>
    <li><%= link_to 'Cities', cities_manage_path %></li>
    <li><%= link_to 'Countries', countries_manage_path %></li>
    <li><%= link_to 'Favorite Spots', turistic_spots_manage_path %></li>
    <li><%= link_to 'Favorite Posts', show_favorites_path %></li>
    <li><%= link_to 'Subscriptions', subscriptions_path %></li>
    <li><%= link_to 'Comments', commentaries_path %></li>
    <li><%= link_to 'Restaurants', restaurants_manage_path %></li>
    <li><%= link_to 'Usuarios', admin_users_path %></li>
    <li><%= link_to 'Estadisticas', admin_stats_path %></li>
    <li><%= link_to 'Ver solicitudes para ser moderador', requests_path %></li>
    
  </ul>
</div>
