<p id="notice"><%= notice %></p>

<h1>Favorite Spots</h1>

<table>
  <thead>
    <tr>
      <th>User id</th>
      <th>Turistic spot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorite_spots.each do |favorite_spot| %>
      <tr>
        <td><%= favorite_spot.user.name %></td>
        <td><%= favorite_spot.turistic_spot.nombre %></td>
        <td><%= link_to 'Show', favorite_spot %></td>
        <td><%= link_to 'Edit', edit_favorite_spot_path(favorite_spot) %></td>
        <td><%= link_to 'Destroy', favorite_spot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favorite Spot', new_favorite_spot_path %>
